:root {
  --font-family-base: 'Inter', sans-serif;
  --main-black: #1D1E21;
  --accent: #59B17A;
  --accent-2: #E85050;
  --background: #E7F1ED;
  --background-2: #F7F8FA;
  --background-3: #FFFFFF;
  --background-4: #3f945f;

  --text: #DCDDDF;

  --toastify-color-success: #407bff;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;

  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --anim-slow: 1000ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  color: var(--main-black);
  background-color: var(--background-2);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color var(--anim);
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
}

input {
  border: none;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}